body,
.color_grad {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece la altura mínima del cuerpo al 100% de la altura del viewport */
  margin: 0;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  margin-top: 126px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: #000000;
  text-align: right;
  font-size: 30px;
}
.carousel-caption h3 {
  font-size: 40px;
}
.carousel-caption p {
  font-weight: 400;
  font-family: sans-serif;
  text-align: center;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.circuloserv {
  --fa-border-color: white;
  --fa-border-padding: 0.5em;
  --fa-border-radius: 100%;
  --fa-border-style: solid;
  --fa-border-width: 0.1em;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
.content {
  flex: 1;
}
.btn {
  background-color: #414141;
  color: white;
}

.btn:hover {
  background-color: #717171;
  color: aliceblue;
}
.txt-justify {
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/*@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}*/

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .carousel-inner {
    max-width: 100%;
  }

  .carousel-item {
    height: 10rem;
    position: relative;
  }

  .carousel-caption {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: auto;
    height: auto;
    bottom: 1rem;
    z-index: 10;
  }
  .txt-justify {
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  }

  .carousel-caption p {
    margin-bottom: 0.5rem;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
  }

  .carousel-indicators {
    margin-bottom: 0rem;
  }

  .carousel-caption h3 {
    font-size: 15px;
  }
  .btn {
    background-color: #414141;
    color: white;
    width: auto;
    height: auto;
  }
  .btn:hover {
    background-color: #717171;
    color: aliceblue;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-caption {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: auto;
    height: auto;
    bottom: 2rem;
    z-index: 10;
    text-align: left;
  }

  .carousel-item {
    height: 17rem;
    position: relative;
  }

  .carousel-caption p {
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 450;
  }

  .carousel-indicators {
    margin-bottom: 0rem;
  }

  .carousel-caption h3 {
    font-size: 25px;
  }
  .txt-justify {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  }

  .btn {
    background-color: #414141;
    color: white;
    width: auto;
    height: auto;
  }
  .btn:hover {
    background-color: #717171;
    color: aliceblue;
  }
}
